extends layout

block body
  header.header
    h1.header__title Twitter
    form.cal#js-cal(data-timestamp="#{timestamp}")
      input.cal__input(type="datetime-local")
      button.cal__btn Update

  main.container
    ul#js-main

block style
  link(rel='stylesheet', href='/style/index.css', media='all')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', media='all')


block script
  script(src="/script/runtime.min.js")
  script(src="/script/templates.js")
  script(src="/script/index.js")
