extends layout

block body
  h1 index
    form.cal#js-cal
      input(type="datetime-local")
      button Update

  ul#js-main

block script
  script(src="/script/runtime.min.js")
  script(src="/script/templates.js")
  script(src="/script/index.js")
