extends layout

block body
  header.header
    h1.header__title Twitter
      form.cal#js-cal
        input(type="datetime-local")
        button Update

  main.container
    ul#js-main

block style
  link(rel='stylesheet', href='/style/index.css', media='all')

block script
  script(src="/script/runtime.min.js")
  script(src="/script/templates.js")
  script(src="/script/index.js")
