$font-size: 16px;

$color-black: #292F33;
$color-gray: #e7e7e7;
$color-dark-gray: #95A7AE;
$color-blue: #019BD9;

$color-btn: #46BDDE;

$width-body: 40rem;
$width-fa: 16px;
$width-img: 48px + 15px;

%cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}


html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  font-family: 'Arial';
  color: $color-black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: bottom;
}

.container {
  max-width: $width-body;
  margin: 0 auto;
}

.header {
  @extend .container;
  text-align: center;
  margin-bottom: 2rem;
}

.cal {
  &__input {
    height: 2.3rem;
    font-size: 1rem;
    text-indent: 0.5rem;
    border: 1px solid #DCDCDC;
    outline: none;
    cursor: pointer;
  }
  &__btn {
    height: 2.3rem;
    padding: 0.6rem 1.4rem;
    color: #fff;
    background-color: $color-btn;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: darken($color-btn, 10%);
    }
  }
}


.tw {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $color-gray;

  &__header {
    margin-left: $width-img;
    font-size: 0.8rem;
  }
  &__body {
    font-size: 1rem;
    margin-left: $width-img;
  }
  &__footer {
    @extend %cf;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: $width-img + $width-fa;
    color: $color-dark-gray;
    > li {
      float: left;
      margin-right: 2rem;
    }
  }
  &__user {
    display: inline;
    margin-right: 0.8rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
  }
  &__timestamp {
    color: $color-dark-gray;
  }
  &__thumb {
    float: left;
    margin-top: 3px;
    margin-left: $width-img * -1;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
  }
  &__url {
    $margin: 0.4rem;

    display: inline-block;
    margin-top: $margin - 0.3rem;
    margin-bottom: $margin;
    color: $color-blue;
    word-break: break-word;
  }
}

.fa {
  position: relative;
  &-star,
  &-refresh {
    &:before {
      position: absolute;
      left: $width-fa * -1;
    }
  }
}
