$font-size: 16px;

$width-body: 40rem;

html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: bottom;
}

.header {
  @extend .container;
}

.container {
  width: $width-body;
  margin: 0 auto;
  background-color: #f2f2f2;
}

